node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

dist/
dist-ssr/
*.local
.vite/
.cache/

*.log
*.log.*
npm-debug.log
yarn-debug.log
yarn-error.log

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*.sln
*.slnx
*.suo
*.user
*.ps1
*.cmd
ProjectSettings.json
.vs/
.vs/
.vscode/

coverage/
.nyc_output/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.postcssrc.json.cache

*.swp
*.swo
*.bak
*.tmp
